@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
	/*  TODO: fit in css for toggle switch  */
	.toggle-bg:after {
		content: "";
		@apply absolute top-0.5
		left-0.5  h-3 w-3 rounded-full bg-toggleGradient drop-shadow-togglePin transition;
	}
	input:checked + .toggle-bg:after {
		transform: translateX(20px);
	}

	input:checked + .toggle-bg {
		@apply border-customGreen bg-customGreen;
	}
}
